<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script th:src="@{/resources/js/jquery-latest.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container">
    <div th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})"></div>
</div>

</body>

</html>