<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script th:src="@{/resources/js/jquery-latest.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>

<body>

<form class="form-narrow form-horizontal" method="post" th:action="@{/j_spring_security_check}">
    <th:block th:if="${param.error1 != null}">
        <div th:replace="fragments/alert :: alert (type='danger', message=#{loginError1})">Alert</div>
    </th:block>
    <th:block th:if="${param.error2 != null}">
        <div th:replace="fragments/alert :: alert (type='danger', message=#{loginError2})">Alert</div>
    </th:block>
    <fieldset>
        <legend>Please Login</legend>
        <div class="form-group">
            <label for="username" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="username" placeholder="Username" name="j_username" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="password" placeholder="Password" name="j_password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="_spring_security_remember_me" /> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default">Login</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>