<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">First Time Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script th:src="@{/resources/js/jquery-latest.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body style="margin: 0; mso-line-height-rule: exactly; padding: 0; min-width: 100%; background-color: #fbfbfb">
Dear <span th:text="${#strings.capitalize('__${firstname}__')}"></span>,<br/><br/>
Someone--probably you--has requested that the password for your Portal account.<br/>
To change your password, please click on the link below:<br/><br/>

<textarea th:inline="text" rows="4" cols="50" maxlength="50" th:readOnly="true" style="border: none;overflow: auto;outline: none;">
[[${pwdLink}]]
</textarea><br/><br/>

<span th:text="${pwdexpireMsg}"/><br/><br/>
Thanks,<br/>
<span th:text="${emailSupport}"/>
</body>
</html>