<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_manager">

<body>
<div layout:fragment="content">

    <th:block th:if="${message != null}">
        <!--/* The message code is returned from the @Controller */-->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#strings.capitalize('__${#authentication.principal.name.first}__')},${message.args[0]})})">&nbsp;</div>
    </th:block>
    <p>
        Welcome <b><span th:text="${#strings.capitalize('__*{#authentication.principal.name.first}__')}" /><span class="tab-space">!!</span></b>
    </p>
</div>
</body>
</html>