<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_manager">

<head>
    <title th:remove="all">Account List</title>
    <script type="text/javascript" th:src="@{/resources/js/sorttable.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/account.js}"></script>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/table.css}" />

</head>
<body>
<div layout:fragment="content">
    <th:block th:if="${message != null}">
        <!--/* The message code is returned from the @Controller */-->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#strings.capitalize('__${#authentication.principal.name.first}__')},${message.args[0]})})">&nbsp;</div>
    </th:block>
    <p>
    <div class="row">
        <div class="col-md-3">
            <p><h3>Account List</h3></p>
            <p><input type="text" class="form-control" id="searchUser" th:value="${searchAcct}" placeholder="Search..."/></p>
            <div class="table-responsive">
            <table border="1" class="sortable table">
                <thead style="background: lightgray;">
                <tr>
                    <th>Username</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th class="sorttable_nosort">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="var : ${page.content}">
                    <td th:text="${var.username}"></td>
                    <td th:text="${var.name.first}"></td>
                    <td th:text="${var.name.last}"></td>
                    <td th:text="${var.email}"></td>
                    <td th:text="${var.role}"></td>
                    <td th:text="${var.status}"></td>
                    <td>
                            <th:block th:if="${var.status == T(my.web.portal.utils.AccountStatus).ACTIVE.getStatus()}">
                                <a href="#" th:onclick="'javascript:lockAccount(\'' + ${var.id} + '\',false);'" rel="tooltip" title="UnLocked">  <i class="fa fa-unlock"></i>  </a>
                                <a href="#" th:onclick="'javascript:viewAccount(\'' + ${var.id} + '\');'" rel="tooltip" title="Edit Account"><i class="glyphicon glyphicon-edit"></i></a>
                                <a href="#" th:onclick="'javascript:deleteAccount(\'' + ${var.id} + '\');'" rel="tooltip" title="Delete Account"><i class="glyphicon glyphicon-remove"></i></a>
                            </th:block>
                            <th:block th:if="${var.status == T(my.web.portal.utils.AccountStatus).PENDING.getStatus()}">
                                <a href="#" th:onclick="'javascript:resendPasswordLink(\'' + ${var.id} + '\');'" rel="tooltip" title="Resend Password Link"><i class="glyphicon glyphicon-repeat"></i></a>
                                <a href="#" th:onclick="'javascript:viewAccount(\'' + ${var.id} + '\');'" rel="tooltip" title="Edit Account"><i class="glyphicon glyphicon-edit"></i></a>
                                <a href="#" th:onclick="'javascript:deleteAccount(\'' + ${var.id} + '\');'" rel="tooltip" title="Delete Account"><i class="glyphicon glyphicon-remove"></i></a>
                            </th:block>
                            <th:block th:if="${var.status == T(my.web.portal.utils.AccountStatus).INACTIVE.getStatus()}">
                                <a href="#" th:onclick="'javascript:lockAccount(\'' + ${var.id} + '\',true);'" rel="tooltip" title="locked">  <i class="fa fa-lock"></i>  </a>
                                <a href="#" th:onclick="'javascript:viewAccount(\'' + ${var.id} + '\');'" rel="tooltip" title="Edit Account"><i class="glyphicon glyphicon-edit"></i></a>
                                <a href="#" th:onclick="'javascript:deleteAccount(\'' + ${var.id} + '\');'" rel="tooltip" title="Delete Account"><i class="glyphicon glyphicon-remove"></i></a>
                            </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
                </div>
            <div th:replace="layouts/paginationLayout"></div>
        </div>
    </div>
</p>
</div>
</body>
</html>