<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Password Settings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script th:src="@{/resources/js/jquery-latest.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
    <form class="form-narrow form-horizontal" method="post" th:action="@{/editPasswordFirstTime}" th:object="${passwordFormBean}" th:fragment="passwordFormBean">
        <th:block th:if="${#fields.hasErrors('${passwordFormBean.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message=#{error.form})"></div>
        </th:block>
        <fieldset>
            <legend>Password Settings</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('secondpassword')}? 'has-error'">
                <label for="secondpassword" class="col-lg-2 control-label">Confirm Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="secondpassword" placeholder="Confirm Password" th:field="*{secondpassword}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('secondpassword')}" th:errors="*{secondpassword}"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</body>
</html>