<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_manager">

<head>
    <title th:remove="all">View Account</title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-narrow form-horizontal" method="post" th:action="@{editAccount}" th:object="${accountFormBean}" th:fragment="accountFormBean">
        <th:block th:if="${#fields.hasErrors('${accountFormBean.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message=#{error.form})"></div>
        </th:block>
        <fieldset>
            <legend>View Account</legend>
            <input type="hidden" class="form-control" th:field="*{id}" />
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                <label for="username" class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}" />
                    <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('firstname')}? 'has-error'">
                <label for="firstname" class="col-lg-2 control-label">First Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="firstname" placeholder="FirstName" th:field="*{firstname}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('lastname')}? 'has-error'">
                <label for="lastname" class="col-lg-2 control-label">Last Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" th:field="*{lastname}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('role')}? 'has-error'">
                <label for="role" class="col-lg-2 control-label">Role</label>
                <th:block th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="role" th:field="*{role}" th:readonly="true"/>
                    </div>
                </th:block>
                <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <div class="col-lg-10">
                    <select id="role" th:field="*{role}">
                        <option value="">--Please select role--</option>
                        <option th:each="entry : ${roles}" th:value="${entry.key}" th:text="${entry.value}" th:selected="${role == entry.value}"/>
                    </select>
                    <span class="help-block" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
                </div>
                </th:block>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-default">Save Account</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>