<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_manager">

<head>
    <title th:remove="all">Audit Trail List</title>
    <script type="text/javascript" th:src="@{/resources/js/sorttable.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/audit.js}"></script>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/table.css}" />
</head>
<body>
<div layout:fragment="content">

        <div class="row">
            <div class="col-md-3">
    <p><h3>Audit Trail List</h3></p>
                <div class="row">
            <div class='col-md-12'>
                <div class="form-group">
                    <div>Start</div>

                    <div class='input-group date' id='startDate'>
                        <input type='text' class="form-control"  id="startDt" th:value="${startDate}" readonly="readonly" />
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
					</span>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <div class="form-group">
                    <div>End</div>

                    <div class='input-group date' id='endDate'>
                        <input type='text' class="form-control" id="endDt" th:value="${endDate}" readonly="readonly"/>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
					</span>
                    </div><br/>
                    <div><button type="button"  id="viewAudit" class="btn btn-primary">View</button></div>
                </div>
            </div>
        </div>

    <div class="table-responsive">
        <table border="1" class="sortable table" style="width: 439px;">
            <thead style="background: lightgray;">
            <tr>
                <th>Username</th>
                <th>Action</th>
                <th>Access Level</th>
                <th>Created On</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="var : ${page.content}">
                <td th:text="${var.username}"></td>
                <td th:text="${var.action}"></td>
                <td th:text="${var.accessLevel}"></td>
                <td th:text="${var.createdOn}"></td>
            </tr>
            </tbody>
        </table>
        </div>
        <div th:replace="layouts/paginationLayout"></div>
</div>
</div>
</div>
</body>
</html>