<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="alert (type, message)" class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
        <span class="close" data-dismiss="alert">&times;</span>
        <span th:text="${message}"></span>
    </div>
</body>
</html>

