<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Portal</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/DashboardManagement}">Dashboard Management</a></li>
                <li><a href="#" th:href="@{/WorkflowManagement}">Workflow Management</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">System Management<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/auditTrail}">Audit Trail</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span  style="color: #999;" th:text="${#strings.capitalize('__*{#authentication.principal.name.first}__')}" />&nbsp;<span style="color: #999;" th:text="${#strings.capitalize('__*{#authentication.principal.name.last}__')}" /></a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user">&nbsp;Profile</i><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/viewAccount}">View Account</a></li>
                        <li><a href="#" th:href="@{/changePassword}">Password Settings</a></li>
                        <li><a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/createAccount}">Create Account</a></li>
                        <li><a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/accountList}">Account List</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>