<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Portal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/font-awesome.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/datepicker.min.css}"/>
    <script th:src="@{/resources/js/jquery-latest.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/moment.min.js}"></script>
    <script th:src="@{/resources/js/en-gb.js}"></script>
    <script th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>
    <style>
        .copyright.glyphicon {
        top: 3px;
        line-height: 3;
        }
        .bckColor.navbar-inverse {
        background-color: #A4A4A4;
        border-color: #080808;
        }
        .navbar-fixed-bottom {
        margin-bottom: -8px;
        }
        span.tab-space {padding-left:1em;}

    </style>
    <script type="text/javascript" th:inline="javascript">
            var ctxPath = /*[[${#ctx.httpServletRequest.contextPath}]]*/;

             $(function() {
             var token = $("meta[name='_csrf']").attr("content");
             var header = $("meta[name='_csrf_header']").attr("content");
              $.ajaxSetup({
                    cache: false,
					beforeSend: function (jqXHR, settings) {
					   jqXHR.setRequestHeader(header, token);
						var self = this;
						var xhr = settings.xhr;
						settings.xhr = function () {
							var output = xhr();
							output.onreadystatechange = function () {
								if (typeof(self.readyStateChanged) == "function") {
									self.readyStateChanged(this);
								}
							};
							return output;
						};

					},
					readyStateChanged: function (xhr) {
						if (xhr.readyState == 4) {
							if (xhr.status == 0)
								alert('Cannot connect. \nPlease verify network.');
							else if (xhr.status == 400)
							    $(location).attr('href','./badRequest');

						}
					},
					error: function(jqXHR, exception) {
					    if (jqXHR.status == 0)
                        	alert('Cannot connect. \nPlease verify network.');
						else if (jqXHR.status == 400)
							$(location).attr('href','./badRequest');

                    }
                });

        });

  </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
<div layout:fragment="content"></div>
    <div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'"></div>
</div>
</body>
</html>