<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <style>
        .pagination {
        margin: 10px 0;
        }
    </style>
</head>
<body>

<div th:layouts="pagination :: pagination" style=" width:1000px;">
    <th:block th:if="${#lists.toList(page.content).size() > 0}">
    <h6>Results  <span th:text="${#lists.toList(page.content).size()}"/> of <span th:text="${page.currentNumber}"/></h6>
        <ul class="pagination">
            <li th:class="${page.firstPage}? 'disabled' : ''">
                <span th:if='${page.firstPage}'>← First</span>
                <a th:if='${not page.firstPage}' th:href='@{${page.url}(page.page=1,page.size=${page.size})}'>← First</a>
            </li>
            <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                <span th:if='${not page.hasPreviousPage}'>«</span>
                <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page.page=${page.currentNumber-1},page.size=${page.size})}' title='Go to previous page'>«</a>
            </li>
            <li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                <a th:if='${not item.current}' th:href='@{${page.url}(page.page=${item.number},page.size=${page.size})}'><span th:text='${item.number}'>1</span></a>
            </li>
            <li th:class="${page.hasNextPage}? '' : 'disabled'">
                <span th:if='${not page.hasNextPage}'>»</span>
                <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page.page=${page.currentNumber+1},page.size=${page.size})}' title='Go to next page'>»</a>
            </li>
            <li th:class="${page.lastPage}? 'disabled' : ''">
                <span th:if='${page.lastPage}'>Last →</span>
                <a th:if='${not page.lastPage}' th:href='@{${page.url}(page.page=${page.totalPages},page.size=${page.size})}'>Last →</a>
            </li>
        </ul>
    </th:block>
    <th:block th:if="${#lists.toList(page.content).size() == 0}">
        <h6>No Record Found.</h6>
    </th:block>
</div>
</body>
</html>